header h1 a:link {
	font-size: 0.7em;
}

nav.site 
{
	background-image:none;
	background:none;
}

nav.topnav section.view li 
{
	display:block;
}

nav div.links li {
    border-right: 1px solid #D3D3D3;
    padding-right: 13px;
    display: inline;
    padding: 3px;
    margin: 0px 5px;
    font-size: 14px ;
    font-weight: bold ; 
}

nav div.links li.last {
	border-right:medium none;
}

nav div.links {
	margin-left: 42px;
	margin-bottom: 15px;
}

#page nav.site {
	padding-top: 10px;
}

section.view {
	z-index: 20;
}